[2019-11-28 12:40] powermarcel10 opened #1 "Is this all ready working on Homey?"
Hello!

Sorry for spamming you here with creating a bug report but I saw no other way to contact you.

I am using a homey for some time now and it great. Only the current zigbee implementation is so bad, so I ordered a conbee 2 stick and a raspberry pi 4 to run home assistant and connect that to homey using the home assistent app for homey wich I have installed using CLI.

But than I saw you app o

[2019-11-28 13:13] notabene00 commented on #1
Hi, Marcel

Yes, this app is communicating with deCONZ rest API directly
And yes, it works right now, but there's still a lot of work
Because support for devices is adding separately for almost each one
___
In fact, my email may be found in
https://github.com/fantomnotabene/HomeyCONZ/blob/ee8c3cc7e3a003146dd60dc6093b3bd98c4f6bf3/app.json#L22

But I agree that contacts should be somewhere in sight

[2019-11-28 13:58] #1 closed

[2019-11-29 20:26] powermarcel10 opened #5 "INNR SP120"
**Device name:**
INNR SP120

**Device link:**
http://www.innrlighting.com/nl/service/#faq-290

**Device modelid:**
SP 120

**Device capabilities:**
On/off/power/energy

**State report example:**
"type":

string"Router"

"ieeeAddr":

string"0x00158d0003273daa"

"nwkAddr":

int63239

"manufId":

int4454

"manufName":

string"innr"

"powerSource":

string"Mains (single phase)"

"modelId":

string"SP

[2019-11-29 20:29] notabene00 commented on #5
Check if it already works via plug driver.

[2019-11-30 00:43] powermarcel10 commented on #5
I checked it and it is working! Including power measurement. Awesome! So this one can be closed..

[2019-11-30 08:29] notabene00 commented on #5
So any smart plug should work, thanks for testing ;)

[2019-11-30 08:29] #5 closed

[2019-11-30 11:11] joeblack2k opened #6 "Support for IKEA TRÅDFRI remote control"
Is it possible to add support for the TRÅDFRI remote control ?

         },
         "ep":1,
         "etag":"15fbe698572d6a2e13aaa6d023200b10",
         "manufacturername":"IKEA of Sweden",
         "mode":3,
         "modelid":"TRADFRI remote control",
         "name":"TRÅDFRI remote control",
         "state":{
            "buttonevent":1002,
            "lastupdated":"2019-11-23T12:40:19"

[2019-11-30 16:59] notabene00 commented on #6
Yes, I'm waiting for PR
I think it takes a couple of days or so to be on master

[2019-12-01 16:35] joeblack2k commented on #6
Hero! thank you!

[2019-12-01 17:01] powermarcel10 opened #7 "Philips hue motion sensor"
Hi!

I hope you can add support for the Philips hue motion sensors.

I have connected 5 of them now directly to the hue bridge, but like to add them to deconz because of the delay when I connect them to the bridge and than to homey.

I have no further information about the sensors. Do you need any other info?

Here is a link: https://www2.meethue.com/en-us/p/hue-motion-sensor/046677473389

There i

[2019-12-01 17:03] powermarcel10 opened #8 "Philips hue remote dimmer switch"
Hi,

I hope you can add support for tephilips hue dimmer switch:

https://www2.meethue.com/nl-nl/p/hue-dimmer-switch/8718696743157

If you need any other information, please let me know.

Best regards,
Marcel

[2019-12-01 17:08] powermarcel10 opened #9 "Xiaomi/aqara double button switch with batteries"
Hi,

I hope you can add support for the dubble switch on batteries from xiaomi.

The ID is lumi.sensor_86sw2Un

Here is a link to the github page of the homey app: https://github.com/TedTolboom/com.xiaomi-mi-zigbee/blob/master/config/drivers/sensor_86sw2Un.json

And here some more info from developer.athom.com:

"type":string"EndDevice"
"ieeeAddr":string"0x00158d000164042f"
"nwkAddr":int34540
"man

[2019-12-01 17:11] powermarcel10 opened #10 "Xiaomi/aqara vibration sensor"
Hi,

I hope you can add support for the aqara vibration sensor.

The ID is lumi.vibration.aq1

Website: https://www.aliexpress.com/item/32892903643.html

Here is some more information from developer.athom.com:

"type":string"EndDevice"
"ieeeAddr":string"0x00158d0002a92083"
"nwkAddr":int61572
"manufId":int4151
"epList":[...]2 items
"status":string"offline"
"joinTime":NULL
"name":string"Aqara Vibrat

[2019-12-01 17:16] powermarcel10 opened #11 "Xiaomi Aqara button"
Hi! Me again..

I hope you can add support for this sensor.. I allready added someone to homey with your addon, but it seems this one is just a different one.. The one that is supported has ID: WXKG11LM, the one I am not able to connect is the WXKG12LM. I think the difference is that the latest one has also a shake sensor in it.

Here is a link: https://www.aliexpress.com/item/32924164840.html

I

[2019-12-01 18:41] notabene00 commented on #7
Yes, philips hue motion sensors should work with the #3
But they has a binary luminance sensor, which is not supported for now
I'll add this sensor as soon as their full support will be ready

[2019-12-01 18:46] notabene00 commented on #9
I have a couple of them, 2018s. 2018 version, afaik, sends events for double clicks, both button clicks and long clicks.

[2019-12-01 19:33] powermarcel10 commented on #9
Yes thats it. They are not yet compatible right?

[2019-12-01 20:59] notabene00 commented on #9
Not yet.

[2019-12-02 10:21] #6 closed

[2019-12-02 11:25] notabene00 commented on #7
You can just `athom app run` HomeyCONZ and look for the output.
There will be something like
[code]
where `id: '23'` is id for your Hue motion sensor.
This data would be really helpful.

Notice: one physical sensor can use two or more ids. One for motion, one for luminance, one e.g. for temperature, etc.

[2019-12-02 13:48] powermarcel10 commented on #7
So I have to add them to deconz, and than run "Athom app run" in a command prompt to see this information?

[2019-12-02 14:22] notabene00 commented on #7
Exactly.

[2019-12-02 15:43] powermarcel10 commented on #7
Allright thanks. Let me try that tonight.

[2019-12-02 16:45] powermarcel10 commented on #7
Hi, maybe a stupid suggestion but is this not the information you need?

https://github.com/sebbebebbe/com.philips.hue.zigbee/blob/3868bd5ef03b7536477b84d6455e9a9807f1af3b/drivers/SML001/device.js

There is the code they use for the Hue zigbee app for Homey..

[2019-12-02 17:42] notabene00 commented on #7
No, deCONZ software is hiding all the communication with devices under the hood and just posting messages to websocket
So I need a modelid (to differentiate devices of this type) and examples of reporting data

[2019-12-02 17:52] fantomnotabene opened #14 "Trådfri motion sensor"
**Device name:**

Trådfri motion sensor

**Device link:**

https://www.ikea.com/gb/en/p/tradfri-wireless-motion-sensor-white-70429913/

**Device modelid:**

`TRADFRI motion sensor`

**Device capabilities:**

Motion, binary luminance sensor

**State report example:**

[code]

[2019-12-02 19:05] notabene00 commented on #14
@k4mrat can you test?
https://github.com/fantomnotabene/HomeyCONZ/tree/tradfri-motion-sensor

[2019-12-02 19:21] k4mrat commented on #14
I’ll try it ASAP, hopefully after work tonight!

[2019-12-02 20:05] powermarcel10 commented on #7
2019-12-02 20:50:39 [log] [deCONZ] Update for unregistered device { e: 'changed',
  id: '61',
  r: 'sensors',
  state: { lastupdated: '2019-12-02T19:50:39', presence: false },
  t: 'event',
  uniqueid: '00:17:88:01:04:b7:ab:4d-02-0406' }

2019-12-02 20:50:40 [log] [deCONZ] Update for unregistered device { e: 'changed',
  id: '4',
  r: 'sensors',
  state: { consumption: 0, lastupdated: '2019-12-02T

[2019-12-02 20:33] powermarcel10 commented on #7
Allright, I have found them. I needen to tweak some settings in the deconz software to read the right values.

This is for the lux reading:

2019-12-02 21:23:41 [log] [deCONZ] Update for unregistered device { e: 'changed',
  id: '66',
  r: 'sensors',
  state:
   { dark: true,
     daylight: false,
     lastupdated: '2019-12-02T20:23:41',
     lightlevel: 8057,
     lux: 6 },
  t: 'event',
  unique

[2019-12-02 21:29] notabene00 commented on #7
https://github.com/fantomnotabene/HomeyCONZ/tree/hue-motion-sensor
@powermarcel10 can you try?

[2019-12-02 21:34] k4mrat commented on #14
Nice going!
It pairs fine.
The dark/light works! (See issues below)

Issues:
• Don’t know if you made a flow card for “if dark” but I can’t find one.

•I haven’t had time to test very thoroughly before I go to sleep tonight, but for 4 minutes the motion alarm never canceled, but the light/dark Boolean flipped when motion was triggered and that time was reset to 0.

•Something I stumbled upon when

[2019-12-02 21:35] k4mrat commented on #14
![Uploading 1E1CCBDD-A9F9-460C-9643-2CAA95042299.png…]()
![Uploading 85E02C8E-5BCA-4D5B-A5CE-160913A9AA7F.png…]()

[2019-12-02 21:37] k4mrat commented on #14
Night on: Dark correctly

![A9245A3F-8C61-4B77-B8E6-0976E8828647](https://user-images.githubusercontent.com/48549512/69997351-42c71180-1554-11ea-9055-5567e4f4b97a.png)

[2019-12-02 21:37] k4mrat commented on #14
Night on: also correct

![4EEFEE06-92D7-48B3-9D28-65CB3874A50F](https://user-images.githubusercontent.com/48549512/69997370-52465a80-1554-11ea-81d1-fa37c2d78a8b.png)

[2019-12-02 21:38] k4mrat commented on #14
Day mode on: Reports Dark:true. Not your fault though I’d say!

But motion is never canceled. Will look more at that tomorrow.

![A42C4453-1CB1-47CB-B212-367207554008](https://user-images.githubusercontent.com/48549512/69997413-67bb8480-1554-11ea-9673-80bb49013b37.png)

[2019-12-02 22:13] powermarcel10 commented on #7
Yeah! You did it! Working fine.. Great job!

[2019-12-02 22:43] #7 closed

[2019-12-02 22:57] notabene00 commented on #14
No, work in progress. It pairs - already a good feedback :)

So it is not working as expected, but not my bad?

Can you leave the room and wait a couple minutes?
Maybe 3-4

[2019-12-02 23:17] notabene00 commented on #14
@k4mrat [branch](https://github.com/fantomnotabene/HomeyCONZ/tree/tradfri-motion-sensor) updated
added condition flow card
check if it works too

[2019-12-03 06:26] k4mrat commented on #14
Not if I’m right about this:

_______

I’ll give that a try!

[2019-12-03 18:53] k4mrat commented on #14
The motion sensor resets itself perfectly now it seems!

Got some more info about the Boolean and maybe why it may behaves the way it does.

The new version seems to have the ability to dim lights to like 30% or 100% depending on dark or not. The old one, when used as intended; directly with a Trådfri LED, is either ON or OFF.

The Night/Day setting on the back of it is just to tell the lights if

[2019-12-03 21:19] notabene00 commented on #14
@k4mrat so.. can I say that TMS is fully implemented and should be merged?

[2019-12-03 21:46] k4mrat commented on #14
Yeah.
Might wanna make a note somewhere about the “is dark” only working if set to “Night” mode.

[2019-12-03 22:04] notabene00 commented on #14
I have no idea where

[2019-12-03 22:21] #14 closed

[2019-12-05 12:53] powermarcel10 commented on #9
Hi ,

here is some more info about this switch:

Left button:

2019-12-05 13:50:36 [log] [deCONZ] Update for unregistered device { e: 'changed',
  id: '77',
  r: 'sensors',
  state: { buttonevent: 1002, lastupdated: '2019-12-05T12:50:36' },
  t: 'event',
  uniqueid: '00:15:8d:00:01:e1:16:a1-01-0006' }

Right button:

2019-12-05 13:50:36 [log] [deCONZ] Update for unregistered device { e: 'changed',

[2019-12-05 13:05] powermarcel10 commented on #11
Hi here is some more information about the button with number WXKG12LM

Single press:

2019-12-05 14:03:57 [log] [deCONZ] Update for unregistered device { e: 'changed',
  id: '78',
  r: 'sensors',
  state: { buttonevent: 1002, lastupdated: '2019-12-05T13:03:57' },
  t: 'event',
  uniqueid: '00:15:8d:00:02:90:df:fe-01-0006' }

Double press:

2019-12-05 14:01:20 [log] [deCONZ] Update for unregistere

[2019-12-05 13:31] powermarcel10 commented on #8
And also somemore information to add support for the Philips hue dimmer switch:

Uppest button pressed:

2019-12-05 14:20:04 [log] [deCONZ] Update for unregistered device { e: 'changed',
  id: '79',
  r: 'sensors',
  state: { buttonevent: 1000, lastupdated: '2019-12-05T13:20:04' },
  t: 'event',
  uniqueid: '00:17:88:01:10:49:3e:c0-02-fc00' }

Uppest button released:

2019-12-05 14:20:04 [log] [de

[2019-12-05 13:33] notabene00 commented on #11
The one that is supported is `lumi.sensor_switch.aq2`. What modelid of the second?

[2019-12-05 13:36] powermarcel10 commented on #10
And here allready some more information about the vibration settings.

Just some code, not specified yet..

2019-12-05 14:33:15 [log] [deCONZ] Update for unregistered device { e: 'changed',
  id: '80',
  r: 'sensors',
  state:
   { lastupdated: '2019-12-05T13:33:15',
     orientation: [ 6, -4, 83 ],
     tiltangle: 360,
     vibration: true },
  t: 'event',
  uniqueid: '00:15:8d:00:02:a9:20:83-01-

[2019-12-05 13:50] powermarcel10 commented on #11
lumi.sensor_swit

[2019-12-05 13:50] powermarcel10 commented on #11
Aqara Wireless switch (Gyro)

[2019-12-05 13:53] notabene00 commented on #11
`lumi.sensor_switch`?

[2019-12-05 13:58] powermarcel10 commented on #11
That should make more sense but it't really saying lumi.sensor_swit in homey developer tools.
![swit](https://user-images.githubusercontent.com/2340835/70241639-ac6f3780-176f-11ea-9e82-bfb2b349720a.jpg)

[2019-12-05 14:06] notabene00 commented on #11
Ok
https://github.com/fantomnotabene/HomeyCONZ/tree/aqara-buttons
Let's give it a try

[2019-12-05 14:09] notabene00 commented on #11
ah, if you have paired aqara buttons before, you should re-pair them
it's still one driver but now for both button types
and it using data that cannot be in the previously paired devices

[2019-12-05 15:26] powermarcel10 commented on #11
Its not working yet. It only discovers the old one wich I removed first. WXKG12LM is not there yet.

[2019-12-05 15:30] notabene00 commented on #11
Are you trying the [aqara-buttons](https://github.com/fantomnotabene/HomeyCONZ/tree/aqara-buttons) branch?

[2019-12-05 15:50] powermarcel10 commented on #11
Yes I do. I can also see now the "shake" option in the IF colum in homey. Only the WXKG11LM has no support for it, but yes Im using the right branche.

[2019-12-05 19:58] SkorpionNL commented on #11
I think it is `lumi.sensor_switch.aq3`

[2019-12-05 20:15] notabene00 commented on #11
I thought about it
Changed
@powermarcel10 [bump](https://github.com/fantomnotabene/HomeyCONZ/tree/aqara-buttons)

[2019-12-05 20:26] notabene00 commented on #11
I just figured out that it cannot be done with one device
`device.js` file contains only trigger's handler
the triggers themselves are stored in the `app.json`
so we can't have one device with two (programmatically assigned) different sets of triggers

but you still can try to pair `lumi.sensor_switch.aq3`

[2019-12-06 00:00] notabene00 commented on #11
- [x] `aqara-button` fully reverted
- [x] `aqara-button-gyro` added as a separate device
- [x] version bump
- [x] test
- [x] merge

[2019-12-06 16:09] powermarcel10 commented on #11
I have tested this new version, but the app keeps crashing. Installed the master branch again, everything fine, Install the new test branch, and it crashes. Tried 2 times.

[2019-12-06 16:16] powermarcel10 commented on #11
NOOOOOO all devices are broken now.. Rebooting homey now.. I hope my devices come back online...

[2019-12-06 16:20] notabene00 commented on #11
@powermarcel10 reinstall version from master branch and all should be ok

[2019-12-06 16:24] powermarcel10 commented on #11
Back online.. Thank God. :p Had to reboot homey after installing master. But not its fine. Im only not able to remove the gyro switch. It keeps trying to get connection wich is not possible with the current master branch offcourse..

Any idea what goes wrong with the test branch?

[2019-12-06 16:25] powermarcel10 commented on #11
I will try it one more time and see what a reboot does with the test branch.

[2019-12-06 16:26] notabene00 commented on #11
I just tested [aqara-buttons](https://github.com/fantomnotabene/HomeyCONZ/tree/aqara-buttons) and it is not crashing during normal use. Is it broke during adding new buttons? Can you post stacktrace here?

[2019-12-06 16:44] powermarcel10 commented on #11
Did some more testing.. After reinstalling the test branch again, the app keeps crashing but I was able to remove the gyra switch. Than did a reboot of homey and everything was working fine. Than, installed the gyro switch again, and the app was crashing again. So it most have something to do with the added code.

[2019-12-06 18:09] notabene00 commented on #11
@powermarcel10 tester needed
check out last changes

[2019-12-06 18:46] powermarcel10 commented on #11
Sorry, same problem!

[2019-12-06 20:25] SkorpionNL commented on #11
Can you put your debug output here when it crashes? @powermarcel10

[2019-12-06 21:35] powermarcel10 commented on #11
Sure I will.. Can you please tell me how? I only know how to create a diagnostic report in Homey for Athom..

[2019-12-06 21:43] powermarcel10 commented on #11
Aaaah just with cli I think.. Let me try..

[2019-12-06 21:48] SkorpionNL commented on #11
Yes, via CLI. `athom app run` and then copy then output when it crashes.

[2019-12-06 21:52] powermarcel10 commented on #11
Microsoft Windows [Version 10.0.18362.476]
(c) 2019 Microsoft Corporation. Alle rechten voorbehouden.

C:\Users\power>cd C:\CLI\HomeyCONZ-aqara-buttons\HomeyCONZ-aqara-buttons

C:\CLI\HomeyCONZ-aqara-buttons\HomeyCONZ-aqara-buttons>homey app install
✓ Pre-processing app...
✓ Validating app...
✓ Homey App validated successfully against level `debug`
✓ Packing Homey App...
 — App size: 861.5 KB
✓ In

[2019-12-06 21:53] powermarcel10 commented on #11
There it is. Immediately after adding the switch te app crashes.

[2019-12-07 09:25] notabene00 commented on #11
My bad. Trigger id was just `shake`, but inside of `device.js` I used `shaked`
Fixed

[2019-12-07 10:54] powermarcel10 commented on #11
Great you found the issue so fast! Will try the new test version ASAP.

[2019-12-07 14:06] powermarcel10 commented on #11
Still crashing:

Microsoft Windows [Version 10.0.18362.476]
(c) 2019 Microsoft Corporation. Alle rechten voorbehouden.

C:\Users\power>cd C:\CLI\HomeyCONZ-aqara-buttons

C:\CLI\HomeyCONZ-aqara-buttons>homey app install
✓ Pre-processing app...
✓ Validating app...
✓ Homey App validated successfully against level `debug`
✓ Packing Homey App...
 — App size: 861.5 KB
✓ Installing Homey App on `Homey` (

[2019-12-08 08:50] SkorpionNL commented on #11
A quick glance shows me that there’s an error with a flow card condition of the Aqara Cube. The Gyro Aqara button doesn’t seem to be the culprit here. Unfortunately I don’t have the time to check this out.

[2019-12-08 09:16] notabene00 commented on #11
Oh shi.. Thank you very much
Not condition - trigger, but yes
I have changed trigger id to `shaked`, but not updated cube's `device.js`

I think that modification of the cube's file will lead to the destruction of previously created flows with it
So I changed `shaked` back to `shake` inside of `app.json`
And fixed a card id in the Gyro's `device.js`

I hope I did the right thing

@powermarcel10 ca

[2019-12-08 14:30] powermarcel10 commented on #11
Yeah it's working now! No more crashes! Great job. One very, very small thing to mention: the icon of this gyro switch looks exactly the same as the normal switch. Maybe you can add this icon like it is in the aqara app for homeyb

![IMG_20191208_152841](https://user-images.githubusercontent.com/2340835/70390909-b8f1cb00-19cf-11ea-9a11-bc413f658b58.jpg)

[2019-12-08 15:01] #11 closed

[2019-12-08 18:28] notabene00 commented on #10
I see the binary `vibration`, integer `tiltangle` and array of integers `orientation`
What triggers/conditions.. capabilities overall are expected for this device?

[2019-12-08 18:34] notabene00 commented on #9
I have v2018s
What their features are not supported in v2016?

[2019-12-08 18:45] notabene00 commented on #8
are `uppest` and `first` the same button?

[2019-12-08 19:34] powermarcel10 commented on #9
There is no difference in features as far as I know.

[2019-12-08 19:38] powermarcel10 commented on #9
But to be sure I asked Tedtolboom, the developer of the homey app.

[2019-12-08 19:39] powermarcel10 commented on #8
Yes. My bad.

[2019-12-08 19:44] powermarcel10 commented on #10
Please see this post: https://community.athom.com/t/xiaomi-aqara-smart-home-zigbee-app-v0-6-2/156/82?u

[2019-12-08 19:58] powermarcel10 commented on #9
I found it:

WXKG02LM	2016	lumi.sensor_86sw2Un	left/right/both: push
WXKG02LM	2018	lumi.remote.b286acn01	left/right/both: single/double-click & hold

[2019-12-08 20:02] notabene00 commented on #10
Oh. I doubt if I'll be able to implement all of this without device on hand

[2019-12-08 20:05] powermarcel10 commented on #11
Some more info I found: Maybe interesting

WXKG11LM	original	lumi.sensor_switch.aq2	Single, Double, Triple, & Quad-click
WXKG11LM	new	        lumi.remote.b1acn01	Single/Double-click, Hold, & Release
WXKG12LM		        lumi.sensor_switch.aq3	Single/Double-click, Hold, Release, & Shake

[2019-12-08 20:17] notabene00 commented on #9
Great
Don't know if they are using the same `buttonevents` for corresponding clicks, but it seems to be so
ETA: next week

[2019-12-08 20:19] powermarcel10 commented on #9
Allright great! Im ready to test!

[2019-12-08 20:27] powermarcel10 commented on #10
I do understand. If there is anything specific I can do please let me know.

[2019-12-08 20:28] notabene00 commented on #11
If you want this device to be supported, create new request

P.S. _I don't like perspective to add the same device multiple times cuz manufacturer decided to cut off some capabilities and sell it as a new. But it seems we have no choice. Shame on you, Aqara_

[2019-12-09 01:23] powermarcel10 commented on #8
I saw that there is allready a branch with support for the Hue switch. Is it ready to test?

[2019-12-09 07:35] notabene00 commented on #8
No, Hue isn't ready, but Aqara wireless switch is
Tested and working for v2018

[2019-12-09 22:27] joeblack2k commented on #10
Can i paypal you a few bucks so you can get one ?

[2019-12-10 11:46] powermarcel10 commented on #8
Allright great, should I test it allready for the 2016 model?

[2019-12-10 11:54] notabene00 commented on #8
Yes

[2019-12-10 12:23] powermarcel10 commented on #8
Is that branch based on latest master?

[2019-12-10 12:48] notabene00 commented on #9
@powermarcel10 aqara wireless switches here

was not, now synced

[2019-12-10 13:41] notabene00 commented on #10
@joeblack2k yes, if you would like to

[2019-12-10 22:53] joeblack2k commented on #10
Sure! DM me your paypal :)

Maybe include donations in the readme i think allot of people will support a “coffee” for the author :)

[2019-12-10 23:13] notabene00 commented on #10
<img width="659" alt="Снимок экрана 2019-12-11 в 02 03 39" src="https://user-images.githubusercontent.com/9576189/70576626-750ee980-1bba-11ea-9290-c1f287c6dccd.png">

@joeblack2k that `Sponsor` button on the top doing something similar ;)
but you're right, maybe I'll place it somewhere in sight
because if you're missed the button, the others might too

[2019-12-11 15:50] powermarcel10 commented on #9
The app does not find my switches.. Tried to look for 2016 and 2018 switches..

[2019-12-11 16:43] notabene00 commented on #9
@powermarcel10 just now
branch (have not been updated now): https://github.com/fantomnotabene/HomeyCONZ/tree/aqara-wireless-switches
v2018:
![IMG_B275BC7B0E8B-1](https://user-images.githubusercontent.com/9576189/70640119-87d1fe80-1c4c-11ea-8781-42da44e03c9c.jpeg)
triggers working

[2019-12-11 16:45] notabene00 commented on #9
What modelids of your switches (v2016 and v2018 accordingly)?

[2019-12-11 17:53] powermarcel10 commented on #9
Sorry I do not understand. What branch should I test now?

[2019-12-11 17:53] powermarcel10 commented on #9
I'm trying the lumi.sensor_86sw2Un wich is the 2016 version. I only have 2 of them. No 2018.

[2019-12-11 18:14] joeblack2k commented on #10
Hmm i didn't see that no..

i send you $20 should be enough to buy some Xaomi toys :)

[2019-12-11 18:16] notabene00 commented on #9
the same branch, [aqara-wireless-switches](https://github.com/fantomnotabene/HomeyCONZ/tree/aqara-wireless-switches)
"now synced" meant that latest changes in `master` was merged into `aqara-wireless-switches`
`master` has no support for this switches for now
I need confirmation that both versions of the aqara wireless switch are working on this branch
Then I'll merge switches and start working on

[2019-12-11 18:53] Vissertje1980 opened #18 "Hue color light not able to change color"
I have just installed your app on my homey to controle devices on deCONZ. It works really great en i am verry thankfull for this great app.

I heave a little problem and that's that i can not change the color of my hue color bulb's. Only from white to warm white.

Hope you can fix this.

Best regards
Jan Willem Visser

[2019-12-11 18:56] notabene00 commented on #10
Got 'em
I'll order the sensor soon

[2019-12-11 19:10] notabene00 commented on #18
Will look into it this weekend, I think
Thanks for reporting

[2019-12-11 19:23] Vissertje1980 commented on #18
thank you very much, enjoy your weekend

[2019-12-11 22:29] powermarcel10 commented on #9
Yeah I do understand, but the app is not able to find my 2016 devices. Here is a screenshot so you can see im using the right branch.

![IMG_20191211_232750](https://user-images.githubusercontent.com/2340835/70665957-fc696500-1c6d-11ea-9229-1fc3b997ebf0.jpg)

[2019-12-12 06:54] Vissertje1980 opened #19 "Xiaomi motion sensor reset after 5 seconds"
Hello,

I have modified all my xiaomi motion (with and without light metering) sensors to get a motion alarm of 5 seconds. Is it possible to implement the possibility to turning the motion alarm off after 5 seconds?

Best regards Jan Willem

[2019-12-12 08:39] notabene00 commented on #9
<img width="1136" alt="Снимок экрана 2019-12-12 в 11 19 36" src="https://user-images.githubusercontent.com/9576189/70694695-4afc1b00-1cd1-11ea-98a0-2e2076902268.png">
Check your switch's modelid

[2019-12-12 08:56] notabene00 commented on #19
Hi

Yes, it is possible, but it has no deal with this app

You can:
[code]
for each of your sensors

Then they will "report" `no motion` in 5 seconds and my app will react accordingly - start `no motion timer` after 5 seconds
Actually they're not reporting it, the other side (deCONZ itself) just saying "no motion for X seconds", so turn `motion` off
That `X` we set in the put request above

[2019-12-12 08:56] #19 closed

[2019-12-12 09:13] notabene00 commented on #8
@powermarcel10 is modelid for PH remote `RWL021`?
if yes, you can try hue remote branch

[2019-12-12 10:18] powermarcel10 commented on #9
lumi.sensor_86sw2Un

[2019-12-12 11:11] Vissertje1980 commented on #19
Thank you very much for you replay. Gonna look at it :-)

[2019-12-12 15:41] powermarcel10 commented on #8
Yes, its working!

[2019-12-12 17:18] powermarcel10 commented on #8
Only the dim up functions are missing!

![Screenshot_2019-12-12-18-17-43-971_app homey](https://user-images.githubusercontent.com/2340835/70734054-cbd80880-1d0b-11ea-85db-83c3b50ba998.jpg)

[2019-12-12 20:57] notabene00 commented on #8
fixed

[2019-12-12 20:58] notabene00 commented on #9
no idea what's going wrong

[2019-12-12 23:07] powermarcel10 commented on #8
Confirmed! So this one can go to master! 👍

[2019-12-12 23:09] powermarcel10 commented on #9
Hmm thats strange than,. Maybe the 2016 version has other button events?

[2019-12-12 23:22] powermarcel10 commented on #9
This is how it looks like in the foscon app:

Sory I found it! In the deconz software running on my pi, I have discovered another ID. Its lumi.sensor_86sw2. And the other one is not showing anything..

[2019-12-12 23:30] powermarcel10 commented on #9
So I found on a website that there are actually 3 of them:

![Naamloos](https://user-images.githubusercontent.com/2340835/70757398-b54ba480-1d3f-11ea-9d1f-292a8b470511.jpg)

Crazy people @ Aqara!!

[2019-12-13 07:54] notabene00 commented on #9
events has nothing to do with discovery

just added `lumi.sensor_86sw2`, try

[2019-12-13 11:26] SkorpionNL opened #20 "Adding light/plug crashes app"
When adding a light or plug, the app crashes. In this case I'm trying to add a INNR SP120 plug that has a light and 2 sensor capabilities (sensor ID 3 & 4).

See crashlog:

  id: '4',
  r: 'sensors',
  state:
   { current: 0,
     lastupdated: '2019-12-13T11:20:42',
     power: 0,
     voltage: 235 },
  t: 'event',
  uniqueid: '00:15:8d:00:03:61:93:20-01-0b04' }
2019-12-13 12:20:58 [log] [deCONZ]

[2019-12-13 11:58] powermarcel10 commented on #9
And they are finally found and working! All buttons are working. Great work and thank for you patience! This one can go to master.

Sidenote: Maybe its good to make a list of supported devices at the frontpage as the list is to long now for only a screenshot 👍

[2019-12-13 12:24] notabene00 commented on #9
About list: maybe :)
And great. I’ll merge switches and hue remote into master this evening.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-12-13 12:36] powermarcel10 commented on #9
Great! Than all my devices are working now.. So I dont have to bother you anymore.. Maybe in the future.. Stay tuned! 😋

[2019-12-13 13:00] #20 closed

[2019-12-13 16:57] notabene00 commented on #8
merged

[2019-12-13 16:57] #8 closed

[2019-12-13 17:24] notabene00 commented on #9
Hey, what about #10?
Vibration sensor on its way to me :)

Anyway, it was nice to deal with you

Ah. Switches also merged, closing now

[2019-12-13 17:24] #9 closed

[2019-12-17 10:58] k4mrat opened #21 "Trådfri color light"
**Describe the bug:**
When Trådfri color bulbs are present in Deconz and I try to add any light, color or ordinary, via homeyconz it becomes unresponsive and unable to add any light. It will often say that it can’t find any lights and time out, when I kept trying to add them i crashed the app after a few attempts and had to restart it. As soon as colored light was removed from deconz the app works

[2019-12-19 16:30] joeblack2k opened #22 "Philips Motion Sensor"
Hey,

I thought the Philips Motion Sensor was supported? I suddenly disappeared..  😅

[2019-12-19 23:40] joeblack2k opened #23 "Adding Lights doesn’t work anymore"
hey, i’m trying to add lights the Phillips Playbar and the Philips Bloom light but i get a “Timeout after 3000 seconds” how do i get some info to see whats happening?

[2019-12-20 10:44] joeblack2k commented on #23
https://www2.meethue.com/en-gb/p/hue-white-and-colour-ambience-iris-table-lamp/7199960PU

That one is the trouble maker, removed it from deconz and everything is working again

[2019-12-20 12:38] notabene00 commented on #22
hello
what are you talking about?
latest master, v0.12.0, updated a week ago
just checked (can't really check if it works because I have no these sensors)
![IMG_3B9AA4502BBF-1](https://user-images.githubusercontent.com/9576189/71254931-8768f000-233d-11ea-9a4d-83177d2a8325.jpeg)

[2019-12-20 12:48] notabene00 commented on #23
- `athom app run`
- try to add light
- copy&paste stacktrace here

[2019-12-20 13:14] notabene00 commented on #21
You can try [this](https://github.com/fantomnotabene/HomeyCONZ/issues/23#issuecomment-567913674)

[2019-12-20 13:14] notabene00 commented on #23
Possible duplicate of #21

[2019-12-20 13:16] k4mrat commented on #21
Great! I’ll get on that asap!

[2019-12-20 16:39] joeblack2k commented on #22
i'm really stupid.. i updated the wrong (older) folder haha stupid me

[2019-12-20 16:41] #22 closed

[2019-12-20 16:46] joeblack2k commented on #23
it does work with app run... i see all lights waiting to be added ..

wen canceling and installing the app again.. it hangs again

[2019-12-21 09:28] joeblack2k commented on #23
I installed the Hue Iris with “athom app run” and then it works but there is no way todo colors only on/off and dim but in philips hue app it has colors..

[2019-12-21 12:07] notabene00 commented on #23
Just to be clear: is this light have no color picker at all?
Or you can't change color by tapping on it?

[2019-12-21 16:48] joeblack2k commented on #23
No color picker at all

[2019-12-21 16:51] joeblack2k commented on #23
![448D21F1-0F7B-469B-8380-FDB6B577573C](https://user-images.githubusercontent.com/3456102/71310930-717d2d00-241a-11ea-89bd-3c4c2b4c662d.png)

[2019-12-22 17:18] notabene00 commented on #23
Can you find type of these lights recognized by deCONZ?
Should be "Extended color light"

Or maybe this is the type that is not implemented yet

[2019-12-22 20:58] joeblack2k commented on #23
As you can see Phoconz supports it

![BD9BF2FB-21D0-4492-B7CD-B307ECF2619F](https://user-images.githubusercontent.com/3456102/71327225-31937400-2506-11ea-8c51-1e89cdeffb6b.jpeg)

[2019-12-22 21:00] notabene00 commented on #23
Yes, but what type declared for this light?

[2019-12-23 12:13] notabene00 commented on #23
[code]
are supported (color with reservations)

Maybe there are more types
So the app can't realise what type to use

[2019-12-23 12:36] notabene00 commented on #23
It seems I can't influence it
You're running app in two ways
First: `install` installs app to homey and exit
Second: `run` runs app and attaches debugger (shows you logs)
And you're getting different results
But the app code is the same in both cases

So I think this issue should be closed now
Since you have added the light and for me adding (including color) lights working fine
![IMG_7133EC13FE41

[2019-12-23 12:36] #23 closed

[2019-12-23 16:41] joeblack2k opened #24 "Philips Iris light doesn't have color"
While the other error is fixed by using app runn, the philips iris light still doesnt have color options in homey

this is the information i have:
"18":{"etag":"457ef0f9fbed5cb1d9b335aa3b79f080","hascolor":true,"manufacturername":"Philips","modelid":"LLC010","name":"Philips Hue Iris","state":{"alert":"none","bri":109,"colormode":"xy","effect":"none","hue":9046,"on":true,"reachable":true,"sat":173,

[2019-12-24 07:32] notabene00 commented on #24
No, that's all I need, I think
You should try https://github.com/fantomnotabene/HomeyCONZ/tree/bulb-colors
Re-add lights after updating to the branch above

[2019-12-24 08:23] joeblack2k commented on #24
Works perfect!!

[2019-12-24 09:04] notabene00 commented on #24
Color picker itself too?

[2019-12-24 21:37] joeblack2k commented on #24
Yup tested all colors :)

[2019-12-25 09:03] notabene00 commented on #18
https://github.com/fantomnotabene/HomeyCONZ/tree/bulb-colors
@Vissertje1980 Can you try the branch above?

[2019-12-25 09:50] notabene00 commented on #24
I'll close this when branch `bulb-colors` will be merged

[2019-12-26 08:26] Vissertje1980 commented on #18
Later today when i have some time i gonna try it. Thank you very much so far

[2019-12-26 13:36] Vissertje1980 commented on #18
i just installed the update and the color change works, great work and thank you very much

[2019-12-26 14:17] #18 closed

[2019-12-26 14:17] #24 closed

[2019-12-26 14:18] notabene00 commented on #21
@k4mrat ping)

[2019-12-26 17:46] Vissertje1980 opened #26 "After last update no motion detection anymore"
Today i have installed the new software but now al my motion sensores (hue and xiaomi) won't detect motion anymore. Also after remove en re-add the sensors to homey.

[2019-12-26 20:38] #26 closed

[2019-12-30 18:17] cbho opened #27 "[Feature suggestion] Add "Request API key" button in app"
**Setup:**
Intel NUC with hass.io 0.103.5 running on a Proxmox VE (Debian Buster) with the deCONZ hass.io addon (v 5.0) - have connection between the USB-stick (ConBee v1, updated fw) and hass.io.

**Problem:**
When running "autodiscover" in HomeyCONZ it says "Succesfully discovered gateway" (yes, has activated "Authenticate app" in the Phoscon webinterface) - but it doesn't get a API-key...
It de

[2019-12-30 18:32] cbho opened #28 "Colour picker not working on Ikea Trådfri bulb (E27 CWS opal 600lm LED1624G9)"
**Describe the bug:**
- Changing colour using the colour picker in Homey doesn't change the colour of the light on the bulb.
- Switching the bulb on/off and changing dim-level via Homey works perfect
- Changing colour via deCONZ/Phoscon webinterface works perfect

**How it should work:**

**Additional context:**
- HomeyCONZ version as of Dec. 30th 2019
- deCONZ/Phoscon running as addon (v. 5.0) on

[2020-01-03 14:35] k4mrat commented on #21
Hey, sorry for the delay, been on a well needed christmas/new year vacation.
When doing "app run" i can add the light and on/off works, but with this.

2020-01-03 15:05:15 [log] [deCONZ] state update for Color light 16 { alert: null,
  bri: 254,
  colormode: 'xy',
  hue: 0,
  on: false,
  reachable: true,
  sat: 0,
  xy: [ 0.458, 0.41 ] }
(node:9670) UnhandledPromiseRejectionWarning: Error: invali

[2020-01-04 13:51] jtebbens opened #29 "Feature request - Group support"
Please add group support for devices.
This way it would be easier to turn a collection of bulbs (all kitchen etc) on.

https://dresden-elektronik.github.io/deconz-rest-doc/groups/#setstate

[2020-01-07 09:40] notabene00 commented on #29
Yes, good thought, I will look into it

[2020-01-07 11:02] notabene00 commented on #27
Something like this is already implemented, but yes, some improvements needed

[2020-01-07 11:06] notabene00 commented on #21
No ability to change color is related to unimplemented `xy` color mode, I guess
Will try to fix it soon
Since adding the light is working this issue is duplicate of #28

[2020-01-07 11:19] notabene00 commented on #21
So I'm closing this now

[2020-01-07 11:19] #21 closed

[2020-01-11 19:13] powermarcel10 opened #30 "side support for aqara cube"
Hi!

I have a request.. Adding support for wich side the aqara cube is on.. I think you've told me that is is a lot of work to add this.. But is it not only adding 6 extra commands? It will be really usefull as it will extend the possibilitys of this device endless.

For now I'm using the cube to the xiaomi/aqara app on homey as this is supported there but offcourse I do prefer using all my device

[2020-01-12 19:00] notabene00 commented on #29
Can you test?
https://github.com/fantomnotabene/HomeyCONZ/tree/groups-support

[2020-01-12 19:43] jtebbens commented on #29
Tested and confirmed working.

Thanks!

[2020-01-12 19:43] #29 closed

[2020-01-12 19:51] jtebbens commented on #29
Only thing I notice is the group status doesn't change if you turn of a light in the group that the group will turn off as well.

[2020-01-12 19:51] jtebbens commented on #29
Only thing I notice is the group status doesn't change if you turn of a
light in the group that the group will turn off as well.

On 12-1-2020 20:00, Елизаров Роман Русланович wrote:

[2020-01-13 09:48] notabene00 commented on #10
<img width="354" alt="Снимок экрана 2020-01-13 в 12 29 12" src="https://user-images.githubusercontent.com/9576189/72244903-5019f600-3600-11ea-8d30-9a9da5cf3480.png">
@joeblack2k sensor's here

Will work on its support soon

[2020-01-13 09:58] notabene00 commented on #29
@jtebbens try now
https://github.com/fantomnotabene/HomeyCONZ/tree/groups-support

[2020-01-13 10:02] jtebbens commented on #29
Thank you will test

Verstuurd vanaf mijn iPhone

Op 13 jan. 2020 om 10:58 heeft Елизаров Роман Русланович <notifications@github.com> het volgende geschreven:

﻿

@jtebbens try now
https://github.com/fantomnotabene/HomeyCONZ/tree/groups-support

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-01-13 10:05] jtebbens commented on #29
@fantomnotabene confirmed working!

[2020-01-13 11:09] notabene00 commented on #10
https://github.com/fantomnotabene/HomeyCONZ/tree/aqara-vibration-support
no triggers yet (almost useless for now) but you can see the data already
<img width="375" alt="image" src="https://user-images.githubusercontent.com/9576189/72251141-4a2b1180-360e-11ea-9e71-049e1e294708.png">

[2020-01-13 12:28] fantomnotabene commented on #10
https://github.com/fantomnotabene/HomeyCONZ/tree/aqara-vibration-support
Could someone test?
![IMG_2587](https://user-images.githubusercontent.com/9576189/72255969-1ef9ef80-3619-11ea-80f8-f94e62d3704b.PNG)
![IMG_2590](https://user-images.githubusercontent.com/9576189/72255974-1f928600-3619-11ea-8769-1ca2e6afe823.PNG)

[2020-01-13 12:32] notabene00 commented on #10
Triggers in da house :)
Vibration `strength` is available under `vibration alarm on` as token
The same with `angle` and `relative angle` under `tilt alarm on`

[2020-01-13 14:30] notabene00 commented on #30
try https://github.com/fantomnotabene/HomeyCONZ/tree/cube-sides-conditions-support

[2020-01-15 13:48] fantomnotabene opened #34 "Add install instructions to readme"
[code]
and so on

[2020-01-15 14:12] fantomnotabene opened #35 "Change waiting for credentials mechanism"
Replace timer with `Homey.ManagerSettings.on('set', callback)`

[2020-01-15 19:29] #35 closed

[2020-01-15 19:42] #34 closed

[2020-01-16 10:48] powermarcel10 commented on #30
Thanks! I will try it asap. One thing, is this screen also working or something similar too see what the state of the cube is:

![Screenshot_2020-01-16-11-46-27-884_app homey](https://user-images.githubusercontent.com/2340835/72518615-06c2e400-3856-11ea-8f1a-3581c94f114f.jpg)

[2020-01-16 19:00] notabene00 commented on #30
Implemented side up capability. If you wanna see others, open separate issue.

[2020-01-17 15:00] snippem opened #37 "Smart Switch WXKG11LM Rev 2 and wall switch WXKG03LM not recognized in app."
Love your app it is working great with only a few minor bugs.
Just got 2 new aqara buttons revision 2 and they are not recognized in the homey app.
The version WXKG11LM version 20161128 works and is recognized but the WXKG11LM rev 2 version 20180525 is not recognized.
Also got 4 aqara wireless wall switches WXKG03LM 2018 versions and are not recognized in the app in homey.
The wall switch with 2 b

[2020-01-18 11:12] notabene00 commented on #37
Can you try https://github.com/fantomnotabene/HomeyCONZ/tree/aqara-wireless-switches?

[2020-01-18 16:28] snippem commented on #37
okay installed te version.
i can install the WXKG11LM rev 2 but not with the smart switch button but with the double wall switch button 2018.
And all the actions i can those in a flow are ment for a double switch.
havent had the time to test a WXKG03LM.

[2020-01-18 18:37] notabene00 commented on #37
So `WXKG11LM rev 2` (`lumi.remote.b1acn01`) is a single switch?
And how many buttons has WXKG03LM?

[2020-01-18 21:00] powermarcel10 commented on #30
Allright thanks. Tested the sides and it is working great! Thanks a lot!

[2020-01-18 23:04] snippem commented on #37
The WXKG11LM rev 2 is a single push button the 2016 version is called in your app Aqara button.
It has the following function when added to the aqara app developed by Ted tolboom:
funtion 1 a button is pushed.
funtion 2 it is called a scene is activated then you have 4 options:
-long push
-press once
-press twice
-release button.
The WXKG03LM is a single switch version of the double switch of the

[2020-01-19 06:44] #30 closed

[2020-01-19 09:31] notabene00 commented on #37
It seems I should create separate drivers for these devices then.
Are both of them has events you mentioned?

[2020-01-19 10:19] snippem commented on #37
The WXKG11LM rev 2 (this is what ted tolbooms homey app does)
funtion 1 a button is pushed.
funtion 2 it is called a scene is activated then you have 4 options:
-long push
-press once
-press twice
-release button

here is  the information taken from homey for this device:
"type":string"EndDevice"
"ieeeAddr":string"0x00158d0004050845"
"nwkAddr":int30593
"manufId":int4151
"manufName":string"LUMI"
"p

[2020-01-23 19:24] snippem opened #39 "groups do not update their status after reboot deconz."
After a reboot of the homeyconz app in homey or rebooting deconz the homeyconz app gives a red triangle at all of the groups.
All of the separate lights and plugs etc keeps working fine without the red triangle.
The groups are updated in their status on or off but with a red triangle and you can't controll the groups anymore.
To get it working again you have to reboot homey and all of the groups a

[2020-01-24 15:13] joeblack2k commented on #10
Thank you!!! Awesome dude as always

[2020-01-25 20:20] notabene00 commented on #10
@joeblack2k can you confirm I should merge the branch?

[2020-01-25 20:30] #39 closed

[2020-01-31 10:13] giggo commented on #28
I see the same.
If I change color saturation in Phoscon web app and color in Homey afterwards it works fine. It seems that color saturation needs to be set/defaulted somehow first but Homey has no saturation picker. Color picker shows up in Homey.

[2020-02-01 11:55] tpnprins commented on #39
Also encountered this issue, even with version 0.13.4. All devices work, except for the light groups which show a red triangle. Upon trying to control them the error ‘websocket is down’ appears. Rebooting deconz or homeyconz does not help, rebooting Homey does.

[2020-02-03 23:57] joeblack2k commented on #10
Confirmed! Works (sorry late reaction my son was born )

[2020-02-07 09:28] notabene00 commented on #10
welcome to the world, little one :)

[2020-02-09 18:30] jghaanstra opened #40 "Error: Cannot find module '../../node_modules/nbhttp'"
**Describe the bug:**
I was running an older version of HomeyCONZ and decided to upgrade. Did a `git pull` and a `homey app install`. But the app crashed with the following stacktrace.

[code]
I tried installing an older version of HomeyCONZ but got the same issue. Might be related to the new homey CLI.

**How to reproduce:**
1. Update homey CLI to latest `npm install -g homey`
2. Pull latest upda

[2020-02-09 18:46] jghaanstra commented on #40
Yes, confirmed that it's a new version of the homey cli. Downgraded to version 2.0.6 (from 3 months ago) and HomeyCONZ installs and runs without error.

One of the latest versions strips dev dependencies. Looks like it's stipping to much for HomeyCONZ where it also remove nbhttp.

[2020-02-13 08:12] gajdur opened #41 "Friends of Hue"
Hi,

Any chance to get Friends of Hue Switch inside?
https://phoscon.de/de/support#pairing-friends-of-hue-switch

Thanks

[2020-02-13 14:43] djeskoswe commented on #39
Same here how can we help ?

[2020-02-14 10:20] mickeman opened #42 "HomeyCONZ crashes when activating scene created in Phoscon"
When i activate a scene that is created in phoscon the HomeyCONZ app crashes.
Deconz ver 2.05.72
Homey ver 3.2.1
HomeyCONZ ver 0.13.4
This problem is not new for me but i havent figured out why it crashed until today.
Could someone confirm this or is it just me having this problem?

![Screenshot_20200214-110854](https://user-images.githubusercontent.com/37731791/74522108-e5b7e680-4f1a-11ea-9603-79

[2020-02-16 16:55] jonwal8 commented on #40
Tried to downgraded to 2.0.6 of homey cli, but I get the same error message as @jghaanstra

[2020-02-21 18:32] powermarcel10 opened #43 "Homey rolled out Homey+ backups, but not for CLI apps"
Hi! In the first place; congratulations with the birth of your kid! Must have been a really rollercoster for you the last couple of months! I hope everything is fine with you and your family.

I have a question.. Homey has rolled out the Homey+ service, wich contains for now Homey backups. This is awesome as all devices and flows are stored in the cloud for when something happend to homey. Everyth

[2020-02-21 22:34] GrimmJok3r opened #44 "Just installed deCONZ 0.13.4 on Homey 4.0.0 and App is crashing when started"
**Describe the bug:**
When installed the app crashed directly
not able to start at all

**How to reproduce:**
Try to restart App
App Shows App had Stopped unexpectedly

Have tried reinstalling but unfortunately it did not help

─────────────── Logging stdout & stderr ───────────────
module.js:550
    throw err;
    ^

Error: Cannot find module '../../node_modules/nbhttp'
    at Function.Module._re

[2020-02-21 22:47] GrimmJok3r commented on #44
Used Older Node.JS version 12.16.1 LTS and now works

[2020-02-21 22:47] #44 closed

[2020-02-23 08:37] notabene00 commented on #43
Hi
I have a small amount of time now, but once I will
This issue will track it till complete

[2020-02-23 08:38] notabene00 commented on #42
I'll look into this soon

[2020-02-23 08:41] notabene00 commented on #41
Hi, yes
You can help to add:
I need to know the modelid of device and buttonevents

[2020-02-23 13:11] notabene00 commented on #40
`athom-cli@3.0.2`, can't reproduce described behavior
@jghaanstra can you test if it is still the case?

[2020-02-23 17:24] jghaanstra commented on #40
Hello @fantomnotabene, `athom-cli` is deprecated and replaced by homey npm package ( `npm install -g homey`). Latest version is 2.1.5 and running `homey app run` still results in the same error.

[2020-02-23 20:21] gajdur commented on #41
Hi and thanks.

I found that the device is a PTM215Z enocean DOLPHIN.
DeviceID is FOHSWITCH.
https://www.feller.ch/de/Produktangebot/Funktaster/Highlight-Produkte#D4540627BFA947D0B5B13C126A7D2F2D

Button events i found: https://fccid.io/png.php?id=2326615&page=12
And some infos here: https://github.com/dresden-elektronik/deconz-rest-plugin/issues/1754

Log from inclusion:
21:09:11:625 New websocke

[2020-02-24 18:38] #40 closed

[2020-02-24 19:06] gajdur commented on #43
Hi @powermarcel10 i can confirm that homeyconz settings are backuped and restored on my new homey pro, all you need to do is to install the app again from cli.

[2020-02-24 19:15] #10 closed

[2020-02-24 21:10] powermarcel10 commented on #43
Thanks for testing! That's nice.. But what about the devices and flows? Everything is present again..?

[2020-02-25 11:17] gajdur commented on #43
Yep, everything was ok.

[2020-03-16 15:59] MadMonkey87 opened #45 "Why not put the app in the store?"
**Describe the bug:**
This is a great plus for homey, but I cannot find it in the official store. Is there a particular reason it isn't there?

**How to reproduce:**
 go apps, click on add, search for "homeyConz" or "deconz" or just "conz" -> no app could be found.

[2020-03-24 23:33] joeblack2k opened #46 "Deconz Scenes"
**Device name:**
Built in Scenes Phoscon / Deconz

Is it possible to sync the scenes ?

So I can say “set lights to <scene>”

[2020-03-31 13:17] michelhelsdingen commented on #37
Hi @fantomnotabene and thanks for your work! I can now add the following smart (Single Button) smart switch;
Smart Switch WXKG11LM Rev.2, Version 20180525
But as @snippem explained I need to select 'Aqara Wireless 2018' when adding the switch in the Homey app where I would have expected to use the 'Aqara button' option. So for now I can use it altough it would be nice if the above mentioned device

[2020-04-02 09:57] notabene00 commented on #46
Seems like [yeah](https://dresden-elektronik.github.io/deconz-rest-doc/scenes/), it's possible to get scenes (as separate devices (buttons?))
But AFAIK I can't affect the voice activation phrase

[2020-04-02 09:58] notabene00 commented on #45
No, there is no particular reason not to be there
But I can't just put it in store, doing so requires some preparations
Lately I've not enough time for developing this app or even fixing bugs
I'll be glad if someone help me

[2020-04-02 10:02] notabene00 commented on #43
I think, this one might be closed
Because:
- backups are working for CLI apps
- we now have #45 for tracking app on its way to the app store

[2020-04-02 10:02] #43 closed

[2020-04-02 10:28] #42 closed

[2020-04-02 10:33] notabene00 commented on #41
I'm interested in deCONZ `buttonevents` that produced by the Switch on deCONZ's websocket, not the low level events, my app can't process them

[2020-04-02 10:52] notabene00 commented on #37
Oh, I misunderstood this https://github.com/fantomnotabene/HomeyCONZ/issues/37#issuecomment-575946375
Now I see what's the problem
I thought that these two devices has switch form-factor, not one switch and one button
So, please, in the future, create a separate issue for every **one** device :)

[2020-04-02 11:00] notabene00 commented on #37
@michelhelsdingen can you try now?
-> https://github.com/fantomnotabene/HomeyCONZ/tree/aqara-wireless-switches
and if you have it, WXKG03LM too

[2020-04-02 11:20] michelhelsdingen commented on #37
It seems the app crashes after i install it, i am now rebooting Homey to check

[2020-04-02 11:31] michelhelsdingen commented on #37
Also after a Homey reboot the app crashes. When reverting back to the previous commit it works again... Thanks again for all your work!

[2020-04-02 11:34] notabene00 commented on #37
@michelhelsdingen yea, sorry, there was an extra parenthesis, fixed now

[2020-04-02 11:43] goudhaan opened #47 "innr FL 130 C Ledstrip changing color ramdom"
**Describe the bug:**
when added to homey, you can choose for random color in a flow. this does not seem to work. so adding the light and changing the color and dimming al work fine in the phoscon app as wel in homey deconz. but the random color picker does not seem to work.
**How to reproduce:**

**How it should work:**
every time the light comes on the color wil be different.

--->

**Screenshot

[2020-04-02 11:46] michelhelsdingen commented on #37
Lol no worries trying again now

[2020-04-02 11:57] michelhelsdingen commented on #37
@fantomnotabene it seems i cannot find a freshly added Smart SwitchWXKG11LM Rev.2 version 20180525. Not via Aqara Button, not via Aqara Wireless 2016 and not via Aqara Wireless 2016... Weird...

[2020-04-02 11:59] notabene00 commented on #47
Reproduced with another light, so this actually is not bug with the concrete LED strip
Can you confirm that this `random color` flow action works with other (not deCONZ) lights?

[2020-04-02 12:01] michelhelsdingen commented on #37
@fantomnotabene  Also not finding them anymore with the 'old' app so doing some troubleshooting. Also restarting my DeCONZ docker to test some stuff. Hang on :)

[2020-04-02 12:03] notabene00 commented on #37
So weird. ~~If Homey tells it was added, it should be there.~~
Okay, misunderstanding once again.
Buttons were not found in homeyCONZ at all, and `added` was related to deCONZ
Waiting...

[2020-04-02 12:12] michelhelsdingen commented on #37
Well, I can see the switch in DeCONZ, but that was working already. The only thing was that in the homey app i needed to add is as a double switch instead of a button. Now I cannot find a newly added button under any of the options in the Homeyconz app. Not sure whats happening... Homey doenst add anything because it doenst find it after i select aqara button or any of the other. I will  try anoth

[2020-04-02 12:14] michelhelsdingen commented on #37
Lol somehow i am using version .1 my bad let me try .2

[2020-04-02 12:15] notabene00 commented on #37
`.1` is `master`, `.2` is the right branch ;)

[2020-04-02 12:23] michelhelsdingen commented on #37
It works! Sent you a small donation for your trouble!

[2020-04-02 12:35] goudhaan commented on #47
so when i use this ledstrip via homey itself and innr app it works fine with the random color flow action. and if i add the ledstrip to hue bridge the random color flow also does not work.

[2020-04-02 12:41] goudhaan commented on #47
i have to adress my last commit. adding the ledstrip to the hue bridge the random color flow also works.

[2020-04-02 12:47] notabene00 commented on #37
Great!
@michelhelsdingen nice to deal with you

P.S. Don't mean to bother you, but do you have WXKG03LM to test em too?

[2020-04-02 12:53] michelhelsdingen commented on #37
@fantomnotabene same with you, I think I have one @ work. Will check asap.

[2020-04-02 13:02] notabene00 commented on #37
@michelhelsdingen thank you in advance
@snippem try the latest changes if you can

As I understand, as of WXKG03LM is a one-button version of the device with switch form-factor of 2016, it is now packed under `Aqara Wireless 2016`
I'll create a separate driver for them, since they're one-button, but they're there for now

[2020-04-02 13:09] snippem commented on #37
I cannot test the changes as my whole setup is now on home assistant.
Homey has found another owner.
Hope there is someone that can test this for u.

[2020-04-02 13:17] notabene00 commented on #37
@snippem my deCONZ is RaspBee on RPi3b and powered by `deCONZ addon` for hass.io as well ;)

[2020-04-02 13:47] snippem commented on #37
@fantomnotabene do not really understand how to test your app when i do not own a athom homey.
Correct me if i am wrong :-)

[2020-04-02 13:53] notabene00 commented on #37
@snippem no-no, it was just like "hey, bro" ;)

[2020-04-02 21:11] gajdur commented on #41
Hi, received this log after pairing:
`2020-04-02 23:02:44 DEBUG (MainThread) [pydeconz.websocket] {"e":"added","id":"117","r":"sensors","sensor":{"config":{"on":true},"ep":242,"etag":"67c2449934fd17f64700db4ca71febd4","id":"117","manufacturername":"PhilipsFoH","modelid":"FOHSWITCH","name":"Friends of Hue Schalter","state":{"buttonevent":7003,"lastupdated":"2020-04-02T21:02:44"},"type":"ZGPSwitch",

[2020-04-02 21:25] gajdur commented on #41
Ops sorry, hier the double press of button 1 and 3 together as Button 5:
`2020-04-02 23:22:57 DEBUG (MainThread) [pydeconz.websocket] {"e":"changed","id":"117","r":"sensors","state":{"buttonevent":5000,"lastupdated":"2020-04-02T21:22:57"},"t":"event","uniqueid":"00:00:00:00:01:70:45:71-f2"}
2020-04-02 23:22:58 DEBUG (MainThread) [pydeconz.websocket] {"e":"changed","id":"117","r":"sensors","state":

[2020-04-02 21:26] gajdur commented on #41
Switch is the same as here: https://phoscon.de/de/support#pairing-friends-of-hue-switch

[2020-04-03 09:12] mickeman commented on #42
Thank you very much for fixing this! 👍

[2020-04-03 09:14] notabene00 commented on #42
Better late than never :)

[2020-04-03 10:35] notabene00 commented on #47
Okay, I'll try to figure out what's wrong

[2020-04-03 10:51] notabene00 commented on #41
Yeah, this is what I need
I'll pack it ASAP

P.S. Do `x002` events are `release` events?
Do the FoH switch have long press events?

[2020-04-03 20:15] gajdur commented on #41
Hi, yep it seems that the `x002` is the `release` event.

And also they have long press.  This is the Button 4 for example after long press:
`2020-04-03 22:14:23 DEBUG (MainThread) [pydeconz.websocket] {"e":"changed","id":"117","r":"sensors","state":{"buttonevent":4000,"lastupdated":"2020-04-03T20:14:23"},"t":"event","uniqueid":"00:00:00:00:01:70:45:71-f2"}
2020-04-03 22:14:24 DEBUG (MainThread) [

[2020-04-07 07:57] Radiotechniman opened #48 "[Enhancement] Add power use cards"
I'm trying to replace the original app for deConz but i'm missing the energy changed cards
e.g.  plugs power has changed, if this AND power if < X THEN etc.

[2020-04-07 21:57] joeblack2k commented on #46
I would be awesome ti get the scenes as dropdown. I think like this addon this will be a game changer because homey doesn't have light scenes!!

so in a card so you can do:

if this this flow has started

then "activate this "scene" "

when you tap on " scene" a dropdown with all scenes and you can select one.

it the same as the hue addon

THE CARD:

![IMG_2360](https://user-images.githubusercont

[2020-04-19 15:06] joeblack2k opened #49 "HomeyConz started crashing"
Hard crash every few hours

![87336CB2-D240-44E3-B27A-68E2BB698423](https://user-images.githubusercontent.com/3456102/79691485-1d674580-8260-11ea-9302-e28dd4451de1.jpeg)
![538E1040-1C18-459C-AEE6-6C2267844276](https://user-images.githubusercontent.com/3456102/79691486-1fc99f80-8260-11ea-93fd-4bdfa2217cdb.jpeg)

[2020-04-19 21:33] joeblack2k commented on #49
After reinstalling this:

![A2B1B216-FCD3-4314-83D0-560151189FD1](https://user-images.githubusercontent.com/3456102/79700474-24a94600-8296-11ea-8ed0-9467a2f82457.jpeg)

[2020-09-11 15:55] MadMonkey87 commented on #45
I've created a heavily modified fork and put it into the store:)

[2020-09-11 15:55] #45 closed

[2020-11-13 08:06] madmax75 opened #53 "Bitron Wandthermostat mit Relais 902010/32"
**Device name:**
Bitron Wandthermostat mit Relais 902010/32

**Device link:**
https://manuals.smabit.eu/lde/av2010_32.html

**Device modelid:**
902010/32

**Device capabilities:**
Heizen/Kühlen/Aus

**State report example:**